<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <title>MetMuseumAPI Smart Frame</title>
        <link rel="stylesheet" type="text/css" href="{% static 'smartframe/style.css' %}">
    </head>
    <body id="body">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>
        <script type="text/javascript">
            carousel();
            function carousel() {
                const objectIds = JSON.parse("{{ response.objectIDs | escapejs }}");
                var i;
                var random_object_id = Math.floor(Math.random() * (objectIds.length-1));
                var src = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/' + objectIds[random_object_id];
                var objectJSON;
                $.ajax({
                    url: src,
                    async: false,
                    dataType: 'text',
                    success: function(data) {
                        objectJSON = data.primaryImageSmall;
                    }
                });
                console.log(objectJSON);
                var img = document.createElement('img');
                img.src = objectJSON;
                document.body.append(img);
                setTimeout(carousel, 10000);
            }
        </script>
    </body>
</html>