<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MetMuseumAPI Smart Frame</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'smartframe/style.css' %}">
    </head>
    <body>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>
        <script type="text/javascript">
            setInterval(carousel, 10000);
            function carousel() {
                const objectIds = JSON.parse("{{ response.objectIDs | escapejs }}");
                var randomObjectId = Math.floor(Math.random() * (objectIds.length-1));
                var src = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/' + objectIds[randomObjectId];
                console.log(src);
                var objectData, imageLink;
                $.ajax({
                    url: src,
                    async: false,
                    dataType: 'json',
                    retries: 3,
                    success: function(data) {
                        objectData = data;
                        imageLink = data.primaryImage;
                    }
                });
                if (imageLink === "") {
                    imageLink = "static/smartframe/chicken.jpg"
                }
                console.log(imageLink);
                var img = document.createElement('img');
                img.src = imageLink;
                $(document).off().on('click', function() {
                    alert("Title: " + objectData.title + "\n" + "Artist: " + objectData.artist + "\n" +
                        "Department: " + objectData.department + "\n" + "Culture: " + objectData.culture + "\n" +
                        "Period: " + objectData.period + "\n");
                }); 
                $("body").css({ 
                    "background-image": `url(${img.src})`, 
                });
            }
        </script>
    </body>
</html>